@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-tertiary: var(--tertiary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-primary1: var(--primary1);
  --color-primary2: var(--primary2);
  --color-primary3: var(--primary3);
  --color-primary4: var(--primary4);
  --color-primary5: var(--primary5);
  --color-primary6: var(--primary6);
  --color-primary7: var(--primary7);
  --color-primary8: var(--primary8);
  --color-primary9: var(--primary9);
  --color-primary10: var(--primary10);

  --color-secondary1: var(--secondary1);
  --color-secondary2: var(--secondary2);
  --color-secondary3: var(--secondary3);
  --color-secondary4: var(--secondary4);
  --color-secondary5: var(--secondary5);
  --color-secondary6: var(--secondary6);
  --color-secondary7: var(--secondary7);
  --color-secondary8: var(--secondary8);
  --color-secondary9: var(--secondary9);
  --color-secondary10: var(--secondary10);

  --color-tertiary1: var(--tertiary1);
  --color-tertiary2: var(--tertiary2);
  --color-tertiary3: var(--tertiary3);
  --color-tertiary4: var(--tertiary4);
  --color-tertiary5: var(--tertiary5);
  --color-tertiary6: var(--tertiary6);
  --color-tertiary7: var(--tertiary7);
  --color-tertiary8: var(--tertiary8);
  --color-tertiary9: var(--tertiary9);
  --color-tertiary10: var(--tertiary10);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);

  --neutral: oklch(0.1288 0.0406 264.7);
  --primary: oklch(0.7049 0.1867 47.6);
  --secondary: oklch(0.6268 0.2325 303.9);
  --tertiary: oklch(0.8369 0.1644 84.43);

  --primary1: #ffede6;
  --primary2: #ffdbca;
  --primary3: #ffb690;
  --primary4: #ff8d4b;
  --primary5: #ec6a06;
  --primary6: #c45600;
  --primary7: #9d4300;
  --primary8: #783200;
  --primary9: #552100;
  --primary10: #341100;

  --secondary1: #faecff;
  --secondary2: #f0dbff;
  --secondary3: #ddb7ff;
  --secondary4: #ca93ff;
  --secondary5: #b76dff;
  --secondary6: #9e4bed;
  --secondary7: #842bd2;
  --secondary8: #6900b3;
  --secondary9: #490080;
  --secondary10: #2c0051;

  --tertiary1: #ffefd4;
  --tertiary2: #ffdf9f;
  --tertiary3: #f9bd22;
  --tertiary4: #d9a200;
  --tertiary5: #b88900;
  --tertiary6: #987100;
  --tertiary7: #795900;
  --tertiary8: #5c4300;
  --tertiary9: #402d00;
  --tertiary10: #261a00;

  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --tertiary-foreground: oklch(0.216 0.006 56.043);
}

&:where([data-theme='dark'], [data-theme='dark'] *),
.dark {
  --background: oklch(0.1344 0 0);
  --background2: oklch(0.1822 0 0);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: var(--background);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);

  --primary: oklch(0.756 0.1594 48.6);
  --secondary: oklch(0.7573 0.1593 306.43);
  --tertiary: oklch(0.7438 0.152661 84.0523);

  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --tertiary-foreground: oklch(0.216 0.006 56.043);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
